AUTH_SECRET="jcphQFXFsK9XEBhtBzH7ypGxQ0kQK0jHeqxhixrUuHI=" 

AUTH_GITHUB_ID=Ov23lizMzqd9ltb81tRT

AUTH_GITHUB_SECRET=23074c715f5ca841484634a35a246d23507c4a54

DATABASE_URL="postgresql://neondb_owner:npg_0zHyeTm6PYKf@ep-hidden-heart-acbcnenf-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"    

NEXT_PUBLIC_HOST_URL=http://localhost:3000